# tfinstall
./tfinstall

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tf files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash log files + Project files
crash.log

.idea
.git
bin/*
